.App {
  /* text-align: center; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}


body{
  /* font-family: 'Noto Sans', sans-serif; */
  background: 
      linear-gradient(
          skyblue,
          transparent
      ),
      linear-gradient(
          90deg,
          purple,
          transparent
      ),
      linear-gradient(
          -90deg,
          coral,
          transparent
      );
      background-size: cover;
      background-attachment: fixed;
  /* background-blend-mode: screen; */
}

#center {
  text-align: center;
}

#title {
  font-size: 30px;
}

#set {
  width: 30%;
  margin: 1% 35% 1% 35%;
}

#href{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

#capital{
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 20px;
}

#href:hover{
  text-decoration: none;
  color: red;
}

.form input {
  /* width: 30%; */
  /* height: 30px; */
}

.card {
  width: 90%;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  /* margin: 20px; */
  margin-top: 5%;;
  margin-left: 5%;
}

.atas {
  margin-top: 30px;
}

